<template>
  <div>
    <h2>About</h2>
    <p>Welcome to about page</p>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';

  export default Vue.extend({
    mounted() {
      console.log('deneme');
    },
  });
</script>
